/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

select {
	padding: 5px;
	margin:5px;
}

#salaryslider, #hourlyslider {
	max-width: 200px;
	display: inline;
	margin:5px;
}

#salaryval, #hourlyval {
	display: inline;
}

#noResult{
	color:#f00;
}